.about-us {
  max-width: $section-max-width;
  padding: 0 $spacing-3;
  margin: 0 auto;
  padding-top: calc(1.2 * $spacing-5);

  @media (max-width: 480px) {
    padding-top: 3rem;
  }

  h2 {
    text-align: center;
    font-size: $fs-section-heading;
    color: #444;
    margin-bottom: $spacing-5;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: $spacing-4;
    margin-bottom: $spacing-5;

    .image-side {
      width: 50%;
      position: relative;
      display: flex;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: $br-small;
        transition: all 0.3s;
      }

      .background-box {
        position: relative;
        width: 95%;
        height: 100%;
        background: $gradient-main;
        border-radius: $br-small;
      }
    }

    .text-side {
      width: 50%;

      h3 {
        position: relative;
        font-size: $fs-heading;
        color: #444;
        margin-bottom: $spacing-4;

        &::after {
          content: " ";
          position: absolute;
          right: 2px;
          display: block;
          width: 30%;
          height: 0.4rem;
          background-color: #e9b824;
          margin-top: $spacing-1;
        }
      }

      p {
        color: #555;
        font-size: $fs-text;
        line-height: 130%;
      }
    }
  }

  .row-1 {
    .image-side {
      @media (hover) {
        img {
          &:hover {
            transform: translate(5%, -5%);
          }
        }
      }
    }

    .text-side {
      text-align: right;
    }
  }

  .row-2 {
    .image-side {
      order: 2;
      justify-content: end;

      @media (hover) {
        img {
          &:hover {
            transform: translate(-5%, -5%);
          }
        }
      }
    }

    .text-side {
      order: 1;
      text-align: left;

      h3 {
        &::after {
          left: 2px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .about-us {
    &__row {
      flex-direction: column;

      .image-side,
      .text-side {
        width: 100%;

        .background-box {
          height: 30rem;
          width: 100%;
        }
      }
    }

    .row-1 {
      .text-side {
        text-align: left;

        h3 {
          &::after {
            left: 2px;
          }
        }
      }
    }

    .row-2 {
      .image-side {
        order: 1;
      }

      .text-side {
        order: 2;
      }
    }
  }
}

// @media (max-width: 425px) {
//   .about-us {
//     padding: 0 $spacing-2;
//   }
// }
