.services {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
      to left,
      hsla(11, 61%, 44%, 0.851),
      hsla(343, 61%, 44%, 0.851)
    ),
    url("../../Assets/services-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @media (max-width: 1200px) {
    height: 80rem;
  }

  @media (max-width: 1024px) {
    height: 95rem;
  }

  @media (max-width: 600px) {
    height: 80rem;
  }

  @media (max-width: 480px) {
    height: 70rem;
  }

  &__tittle {
    font-size: $fs-section-heading;
    margin-bottom: $spacing-5;

    @media (max-width: 600px) {
      font-size: $fs-section-heading-mobile;
      margin-bottom: $spacing-4;
    }
  }

  &__card-container {
    display: flex;
    justify-content: center;
    gap: 5rem;

    margin: 0 5%;

    @media (max-width: 1440px) {
      gap: 2rem;
    }

    @media (max-width: 1200px) {
      margin: 0 2.5%;
      gap: 1rem;
    }

    @media (max-width: 1024px) {
      flex-wrap: wrap;
    }
  }

  &__card {
    position: relative;
    width: 25rem;
    height: 30rem;
    font-size: 1.8rem;
    line-height: 140%;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    padding: 1rem;
    outline: 2px solid transparent;
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    // transition: all 0.4s ease-out;

    &:nth-child(2) {
      transition-delay: 0.1s;
    }
    &:nth-child(3) {
      transition-delay: 0.2s;
    }
    &:nth-child(4) {
      transition-delay: 0.3s;
    }

    @media (max-width: 1024px) {
      width: 22rem;
      height: 28rem;
    }

    @media (max-width: 600px) {
      width: 18rem;
      height: 24rem;
      font-size: 1.6rem;
    }

    @media (max-width: 480px) {
      width: 40%;
      font-size: 1.4rem;
      height: 20rem;
      padding-bottom: 1rem;
    }

    @media (max-width: 400px) {
      height: 22rem;
    }
  }

  &__card:hover {
    cursor: pointer;
    outline: 2px solid rgba(255, 255, 255, 0.4);
    outline-offset: 8px;

    @media (max-width: 1200px) {
      outline: 2px solid transparent;
      outline-offset: 0;
    }
  }

  &__card--icon {
    padding-top: 2rem;
    font-size: 10rem !important;

    @media (max-width: 600px) {
      padding-top: 0.5rem;
      font-size: 8rem !important;
    }

    @media (max-width: 480px) {
      font-size: 6rem !important;
    }
  }
}

.wave-top {
  position: absolute;
  top: 0;
  background-image: url("../../Assets/wave-haikei4.svg");

  aspect-ratio: 900/450;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
}

.wave-btm {
  position: absolute;
  bottom: 0;
  background-image: url("../../Assets/wave-haikei9.svg");

  aspect-ratio: 900/450;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
}
